<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nightly LÖVE</title>
  </head>
  <body>
    <h1>Nightly LÖVE</h1>
    <ul>
    {% for build in builds %}
      <li>
        <span>LOVE Nightly builds for {{ build.date }}</span>
        <ul class="executables">
          <li>
            <a href="{{ build.urls.app }}">
              <img src="images/osx-app.png" alt="love.app" />
            </a>
          </li>
        </ul>
        <ul class="liblove">
          <li>
            <a href="{{ build.urls.framework }}">
              <img src="images/osx-framework.png" alt="love.framework" />
            </a>
          </li>
        </ul>
      </li>
    {% endfor %}
    </ul>
  </body>
</html>
